body 
{
    background-color: #FED6BC;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

#animation 
{
    width: 250px;
    height: 60px;
    position: absolute;
    top: 50px;
    left: 50px;
    background: #6FC276;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
}