body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table 
{
    border-collapse: collapse;
}

td 
{
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    padding: 0;
}

.s 
{
    background-color: #00BFFF;/*Небо*/
}

.u 
{
    background-color: #FFFF00;/*Солнце*/
}

.w 
{
    background-color: #0000FF;/*Вода*/
}

.h 
{
    background-color: #A0522D;/*Корабль*/
}

.m 
{
    background-color: #8B4513;/*Мачта*/
}

.a 
{
    background-color: #FF0000;/*Парус*/
}